.form-control-invalid {
  border-color: red;
  box-shadow: inset 0 1px 1px orangered,  0 0 4px red;
}

.form-control-valid {
  border-color: greenyellow;
  box-shadow: inset 0 1px 1px green,  0 0 4px green;
}

.form-error {
  font-size: 0.8em;
  margin: 0;
}

